@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #1C2530;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}

.collapse-arrow > .collapse-title:after{
  top: 1.3rem;
  right: 20px;
}

.highlight-section {
  outline: 2px solid #0066FF;
  outline-offset: 4px;
  transition: outline 0.3s ease-in-out;
}

.category-description-style h1{
    font-size: 28px;
    font-weight: 700;
}
.category-description-style p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 15px;
}

.category-description-style h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.category-description-style a{
    font-weight: 500;
    color: #0166FF;
}